@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  20% {
    translate: 0 -50%;
  }
  40% {
    translate: 0 0;
  }
}

@media (prefers-color-scheme: dark) {
  ._background {
    @apply bg-slate-900 caret-white accent-white;
  }
}

@media (prefers-color-scheme: light) {
  ._background {
    --size: 0.1ex;
    --dot-color: #e2e8f0;
    --granularity: 32px;

    background-image: radial-gradient(
        var(--dot-color) var(--size),
        transparent 0
      ),
      radial-gradient(var(--dot-color) var(--size), #fff 0);

    background-position: 0 0,
      calc(var(--granularity) / 2) calc(var(--granularity) / 2);
    background-size: var(--granularity) var(--granularity);
  }
}

._progress {
  --duration: 1.2s;
  @apply absolute top-0 z-20 h-1 w-0 bg-rose-700 bg-opacity-25;
}

._progress[data-loading="true"] {
  transition: width var(--duration);
  transition-delay: var(500ms);
  @apply w-full;
}

._progress[data-loading="true"] [data-loader-slider] {
  @apply h-full w-1/2 bg-rose-500;
  animation: progress;
  animation-duration: var(--duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: calc(var(--duration) / 2);

  transform: translateX(-100%);
}

@keyframes progress {
  from {
    transform: translateX(-100%) scaleX(60%);
  }
  to {
    transform: translateX(250%) scaleX(100%);
  }
}

._visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;

  white-space: nowrap;
  width: 1px;
}

@view-transition {
  navigation: auto;
}

@media (not (prefers-reduced-motion)) {
  :is(a, button, input, summary):active svg {
    scale: 0.8;
  }

  :is(a, button, input, summary) svg {
    transition: scale 200ms;
  }
}

:root {
  /* fixed height to prevent jankyness */
  --welcome-form-min-height: 28ex;
}

@keyframes _spin {
  to {
    transform: rotate(-360deg);
  }
}

._animate-spin {
  animation: _spin 2s linear infinite;
}
