@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  20% {
    translate: 0 -50%;
  }
  40% {
    translate: 0 0;
  }
}

@media (prefers-color-scheme: dark) {
  .background {
    @apply bg-slate-900 caret-white accent-white;
  }
}

@media (prefers-color-scheme: light) {
  .background {
    --size: 0.1ex;

    background-image: radial-gradient(#e2e8f0 var(--size), transparent 0),
      radial-gradient(#e2e8f0 var(--size), #fff 0);
    background-position: 0 0, 16px 16px;
    background-size: 32px 32px;
  }
}

@media (scripting: none) {
  .script-only {
    display: none;
  }
}
